	header {
		background-color: #557253;
		color: white;
		padding: 15px;
	}
	
	footer {
		background-color: #557253;
		color: white;
		padding: 15px;
		box-shadow: 0px 9999px 0px 9999px #557253;
	}
	/* Main Body Styles */
	
	.panel-body {
		margin: auto;
		width: 100%;
		height:90%;
		background-image: url("fibonacci.jpg");
		background-size: cover;
		border-left: 3px solid #557253;
		border-right: 3px solid #557253;
		padding: 10px;
	}
	
	body {
		background-image: url("fibonacci.jpg");
		background-size: cover;
		color: #404040;
	}

	
	footer a:link {
		color: white;
	}
	
	footer a:visited {
		color: #DBEE7F;
	}
	
	footer a:hover {
		color: #C8C8C8;
	}


/* Fibonacci Styles */
.fib {
	display: inline-block;
	background-color: rgba(112,128,144,0.1);
}

.fib-left {
	float: left;
	display: inline-block;
	margin-right: 4px;
}

.fib-right {
	float: right;
	display: inline-block;
	margin-left: 4px;
}

/* Pell Styles */
.pell {
	display: inline-block;
	background-color: rgba(112,128,144,0.1);
}

.pell-left {
	float: left;
	display: inline-block;
	margin-right: 4px;
}

.pell-right {
	float: right;
	display: inline-block;
	margin-left: 4px;
}

/* Tribonacci Styles */
.trib {
	display: inline-block;
	background-color: rgba(112,128,144,0.1);
}

.trib-left {
	float: left;
	display: inline-block;
	margin-right: 4px;
}

.trib-center {
	margin: 0 auto;
	display: inline-block;
}

.trib-right {
	float: right;
	display: inline-block;
	margin-left: 4px;
}

.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}
.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px 0px;
	margin: 50px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.green {
	border-color: #DBEE7F;
	background:   #557253;
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

button {
	color: black !important;
	margin: 10px;
}

/* Sliders */
.slider{
  -webkit-appearance: none;
  height: 10px;
  width: 45% !important;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
}